<div class="about-section">
    <h1>About Us</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.   ipsa optio exercitationem? Placeat, animi adipisci laboriosam eius inventore deleniti sit?</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../assets/images/IMG_8484.JPG" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Mohammed Sallam</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/images/IMG_8484.JPG" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mohammed Sallam</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="../../assets/images/IMG_8484.JPG" alt="John" style="width:100%">
        <div class="container">
          <h2>Mohammed Sallam</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>