<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" routerLink="home">Aflam</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="movies">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tv">TV Shows</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="network">Network</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="people">People</a>
          </li>
        
      </ul>
     
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <div class = "social-media">

        <i class="fab mx-2 fa-instagram"></i>
        <i class="fab mx-2 fa-facebook"></i>
        <i class="fab mx-2 fa-twitter"></i>
        <i class="fab mx-2 fa-youtube"></i>

      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Logout</a>
          </li>
        
      </ul>
    </div>
  </nav>